@model IEnumerable<CUF.Models.ProductModel>

@{
    ViewData["title"] = "Lista de produtos/serviços";
}

@section css {
    <style>
        .new-supplier {
            gap: 10px;
            height: 50px;
            font-size: 1.2rem;
            padding: 0 15px;
        }

        .search .btn-squarred {
            width: 100px;
        }

        .search .add {
            width: 70px;
        }

        .search {
            display: flex;
            padding: 0px;
            gap: 15px;

            height: 50px;
            width: 100%;
        }

        .bar {
            flex-grow: 1;
            border-radius: 4px;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        table .btn-squarred {
            display: inline-block;
            width: 40px;
            text-align: center;
        }
    </style>
}


@if (Model.Count() == 0)
{
    <h1>Nenhum produto ou serviço encontrado</h1>
    <a class="btn-squarred btn-squarred-primary new-supplier" asp-controller="Product" asp-action="Register">
        <span class="material-symbols-outlined">
            add_circle
        </span>
        <p>Adicionar novo produto/serviço</p>
    </a>
}
else
{
    <div class="search">
        <input class="form-group form-input bar" id="search-bar" type="text" placeholder="Digite sua busca...">
        <a class="btn-squarred btn-squarred-success add" asp-controller="Product" asp-action="Register">
            <span class="material-symbols-outlined">
                add_circle
            </span>
        </a>
    </div>
    <table id="result">
        <tr>
            <th>ID</th>
            <th class="table-name">Nome</th>
            <th>Tipo</th>
            <th>Unidade</th>
            <th>Ações</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Type</td>
                <td>@(product.Unit != null ? product.Unit : '-')</td>
                <td>
                    <a class="btn-squarred btn-squarred-primary" asp-controller="Product" asp-action="Details">
                        <span class="material-symbols-outlined">info</span>
                    </a>
                    <a class="btn-squarred btn-squarred-success add" asp-controller="Product" asp-action="Register" asp-route-id="@product.Id">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                </td>
            </tr>
        }
    </table>
}

@section scripts {
    <script>
        const searchBar = document.getElementById('search-bar')
        const table = document.getElementById('result')

        searchBar.addEventListener('keyup', async (e) => {
            const searchString = e.target.value
            const url = !searchString ? `${host}/Product/Get` : `${host}/Product/Search?name=${searchString}`

            const products = await fetch(url)
                    .then(response => response.json())

            const rows = products.map(product => {
                return `
                    <tr>
                        <td>${product.id}</td>
                        <td>${product.name}</td>
                        <td>${product.type}</td>
                        <td>${product.unit != null ? product.unit : '-'}</td>
                        <td>
                            <a class="btn-squarred btn-squarred-primary" asp-controller="Product" asp-action="Details">
                                <span class="material-symbols-outlined">info</span>
                            </a>
                            <a class="btn-squarred btn-squarred-success add" asp-controller="Product" asp-action="Register" asp-route-id="${product.id}">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        </td>
                    </tr>
                `
            })

            rows.unshift(`
                <tr>
                    <th>ID</th>
                    <th class="table-name">Nome</th>
                    <th>Tipo</th>
                    <th>Unidade</th>
                    <th>Ações</th>
                </tr>
            `)

            table.innerHTML = rows.join('')
        })
    </script>
}